{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
  <section class="card card-body"> 
    <h1 class="display-1 text-center text-danger">Django App</h1>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae hic atque iusto rem voluptas reiciendis laboriosam cupiditate? Alias, nisi 
      optio laudantium nostrum molestiae delectus harum quasi. Doloremque ipsa quis eaque esse molestias saepe. Modi vel ducimus delectus. Eum quam eveniet ratione veniam. Dolor repreenderit reiciendis, numquam provident qui ullam, f
      ugiat voluptatem voluptas quod deleniti doloribus eius omnis? Eaque eveniet voluptatibus odio atque. Repudiandae laudantium expedita impedit rem officiis enim harum ra
      tione quos, tenetur facilis voluptatum odit perspiciatis provident? Animi, dicta voluptates. Dolorum voluptatibus itaque ea quod voluptates, inventore, sint possimus praesentium ab sus
      cipit iure ipsa vero consequuntur maxime quas optio.
    </p>
  <div class="text-center">
    <a class="btn btn-primary" href="/signin/">
      signin
    </a>
    <a class="btn btn-primary" href="/signup">
      signup
    </a>
  </div>


  </section>
</main>

{% endblock %}
